/* ====================================
   🔹 Estilos Globais (Mobile First)
==================================== */

/* Small devices (phones ≥576px) */

@media (min-width: 320px) {

    #header-evangelism,
    #content-evangelism,
    #button-evangelism {
        width: 90% !important;
    }

    #header-evangelism {
        height: 10vh;
    }

    #content-evangelism {
        height: 15vh;
        max-height: 200px !important;
        margin: 10px 0px;
    }

    #content-evangelism p {
        width: 100%;
    }

    #header-evangelism h1 {
        font-size: 20px;
    }

    #content-evangelism p {
        font-size: 16px;
    }

    #button-evangelism button {
        width: 130px;
        height: 36px;
        font-size: 13px;
    }
}


@media (min-width: 450px) {

    #header-evangelism,
    #content-evangelism,
    #button-evangelism {
        width: 90% !important;
    }

    #header-evangelism {
        height: 10vh;
    }

    #content-evangelism {
        height: 20vh;
        max-height: 200px !important;
        margin: 10px 0px;
    }

    #content-evangelism p {
        width: 100%;
    }

    #header-evangelism h1 {
        font-size: 32px;
    }

    #content-evangelism p {
        font-size: 20px;
    }

    #button-evangelism button {
        width: 145px;
        height: 40px;
        font-size: 16px;
    }
}


/* Medium devices (tablets ≥768px) */
@media (min-width: 768px) {

    #header-evangelism,
    #content-evangelism,
    #button-evangelism {
        width: 70% !important;
    }

    #header-evangelism {
        height: 15vh;

    }

    #content-evangelism {
        height: 30vh;
        margin: 0px;
    }

    #button-evangelism {
        height: 5vh;
    }

    #content-evangelism p {
        width: 100%;
    }

    #header-evangelism h1 {
        font-size: 38px;
    }

    #content-evangelism p {
        font-size: 22px;
    }

    #button-evangelism button {
        width: 170px;
        height: 45px;
        font-size: 18px;
    }
}

/* Large devices (desktops ≥992px) */
@media (min-width: 992px) {

    #header-evangelism,
    #content-evangelism,
    #button-evangelism {
        width: 60% !important;
    }

    #header-evangelism {
        height: 15vh;
    }

    #content-evangelism {
        height: 30vh;
        margin: 0px;
    }

    #button-evangelism {
        height: 5vh;
    }

    #header-evangelism h1 {
        font-size: 40px;
    }

    #content-evangelism p {
        width: 100%;
        font-size: 23px;
    }

    #button-evangelism button {
        width: 180px;
        height: 45px;
        font-size: 18px;
    }
}

/* Extra large devices (large desktops ≥1200px) */
@media (min-width: 1200px) {

    #header-evangelism,
    #content-evangelism,
    #button-evangelism {
        width: 50% !important;
    }

    #header-evangelism {
        height: 15vh;
    }

    #content-evangelism {
        height: 30vh;
        margin: 0px;
    }

    #button-evangelism {
        height: 5vh;
    }

    #header-evangelism h1 {
        font-size: 40px;
    }

    #content-evangelism p {
        width: 100%;
        max-width: 700px;
        font-size: 24px;
    }

    #button-evangelism button {
        width: 170px;
        height: 45px;
        font-size: 18px;
    }


    #days-of-worship h1 {
        position: relative;
        top: 10%;
        color: #F5F5F5;
        z-index: 9999;
        font-weight: 600;
        width: 650px;
        text-align: end;
        font-size: 48px;
    }

    .image_worship {
        min-width: 600px;
        max-width: 800px;
        position: relative;
        left: -310px !important;
    }
}

/* XXL devices (very large screens ≥1400px) */
@media (min-width: 1400px) {

    #header-evangelism,
    #content-evangelism,
    #button-evangelism {
        width: 40% !important;
    }

    #header-evangelism {
        height: 12vh;
    }

    #content-evangelism {
        height: 30vh;
        margin: 0px;
    }

    #button-evangelism {
        height: 7vh;
    }

    #header-evangelism h1 {
        font-size: 40px;
    }

    #content-evangelism p {
        width: 100%;
        max-width: 700px;
        font-size: 24px;
    }

    #button-evangelism button {
        width: 170px;
        height: 45px;
        font-size: 18px;
    }

    #days-of-worship h1 {
        position: relative;
        top: 12%;
        color: #F5F5F5;
        z-index: 9999;
        font-weight: 600;
        width: 900px;
        text-align: end;
        font-size: 64px;
    }

    .image_worship {
        min-width: 800px;
        max-width: 1000px;
        position: relative;
        left: -310px !important;
    }
}